body {
    width: 100vw;
    height: 100vh;
    
}

#page-wrapper {
    width: 100vw;
    height: 100vh;
}

#page{
    width: 100vw;
    height: 100vh;
    background-color: #434343 !important; 

}

/*================================ BEGINNING OF HEADER STYLES ====================================*/
/*
Setting the dimensions to this header thesection that holds two seperate containers
each taking up half of its height but it full width 
*/
#header{
    width: 100%;
    height: 12%;
    box-shadow: 0 2px 2px 2px;
}

/*
Top half of the header that contains logo
Here we set the gradient background color and give it the height of half of the header section
*/
#navbar-top {
    width: 100%;
    height: 50% !important;
    background: rgb(46,36,73);
    background: linear-gradient(273deg, rgba(46,36,73,1) 0%, rgba(37,54,106,1) 100%);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    position: relative;
    
}

#navbar-top > div {
    display: flex;
    flex-direction: row;
    

}

/*
container that holds the logo found on the top half of the header 
located in the navbar-top div
positioning it according to the parent div "header" and with absoliute we can make this logo containter 
begin a certain distance from the left in a responsive manner
*/
#navbar-top section{
    position: absolute;
    left: 10.7%;
    width: 10%;
    height: 50%;
}

/*
The actual logo link with background image of the company logo
takes up the full size of its parent
*/
#navbar-top > div > section > a {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url(/sites/default/files/eversportlogohq.png);
    background-size: cover;
    background-position: center;
}
/*
Removing the image the logo link contained and instead gave it background image
*/
#navbar-top > div > section > a > img {
    visibility: hidden;
}

/* top menu */

#block-topnavigation > div.content {
    position: absolute;
    left: 200px;
    top: -7px;
    width: 1150px;
    display: flex;
    flex-direction: row;
}

#top-navigation-menu-link-contentfe805921-9b05-4921-8ffe-317790332eaf {
    position: absolute;
    right: 0;
}

#block-topnavigation > div.content a{ 
    font-size: 15px;
    font-weight: lighter;
}




/* end of top menu */



/*
bottom half of the header that contains the main navigation
adding linear gradient to match its neighbor above the "navbar-top"
*/
#navbar-main {
    background: rgb(46,36,73);
    background: linear-gradient(273deg, rgba(46,36,73,1) 0%, rgba(37,54,106,1) 100%);;
    width: 100%;
    height: 50% !important;
    margin: 0; 
    padding: 0;
    box-shadow: 0 10px 5px #0000;

}

/*
styling both containers found in navbar-top and navbar-main
stretching it full width and full height for easier control
*/
.navbar > .container {
    /*
    why did i need min-width?
    */
    min-width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    
}

/*
container in navbar-main displays flex so menu items 
hugs the bottom of the header or the container with flex-end
*/
#navbar-main > .container {
    display: flex;
    align-items: flex-end;
}

/*
container of the main nav which takes up the whole size of the bottom half of the header
display flex  with justify content centers the nav links in the center
*/
#superfish-main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}
/*
menu tabs take 15% width each of the whole screen
also the contents inside of them like the links will be centeresd with flex properties
as well the tabs will have a color change on hover with a trannsition attribute the 
smoothens the action
*/
#superfish-main > li {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid rgba(0, 0, 0, 0.3) 0.5px;
    background-color: #3e4980;
    border-bottom: solid rgba(255, 255, 255, 0.1) 3px;
    transition: ease-in-out 0.2s;
    
}

/*
tab will receive an underline on hover
*/
#superfish-main > li:hover {
    background-color: #4f5ca2;
    border-bottom: solid white 3px;
    
}

/*
all links from the tabs have their content/titles centerd
and have new styles like font type and size
*/
a.sf-depth-1 {
    padding: 0;
    text-align: center;
    font-family: arial;
    color: white;
    font-size: 13px;
    text-decoration: none;
}

/*
menu tab/link titles stay white on hover since superfish default 
isn't white
*/
a.sf-depth-1:hover {
    color:white;
}

/*
with the universal selector "*" all descendant elements contained in sf-depth-2
in this case include all menu items of depth level 2 or more and gives them bg color of white
*/
.sf-depth-2 * {
    background-color: white;
    transition: ease-in-out 0.2s;
}

/*
all menu items of depth 2 or more change to light gray bg on hover
*/
.sf-depth-2 *:hover {
    background-color:rgb(238, 238, 238);
    
}

/*
the actual links of these menu items found with a depth of 2 have a border on the bottom
and receive a lighter color in text
*/
.sf-depth-2 a  {
    font-family: arial;
    font-size: 14px;
    font-weight: lighter;
    text-decoration: none;
    color:rgba(0, 0, 0, 0.4);;
    border-bottom: solid lightgray 0.1px;
    transition: ease-in-out 0.3s;
}

/*
the link found with a depth of 2 or more change to a dark gray color on hover
*/
.sf-depth-2 a:hover {
    color:rgba(0, 0, 0, 0.8);
}

/*
container of expand ">>" widget for menu items of depth 2 or more
have backgrounf color of blue and are positioned to hug the right of
menu item and the expand arrow is white in color
*/
.sf-depth-2 .sf-sub-indicator {
    position: absolute;
    right: 0 !important;
    min-width: 20%;
    min-height: 100%;
    transition: ease-in 0.3s;
    color: white;
    background-color: #4f5ca2;
    
}


/*================================ END OF HEADER STYLES ====================================*/


/*================================ BEGINNING OF MIN CONTENT STYLES ====================================*/

/*
Giving the container for the main wrapper to take up 80% width of the screen
and be centered with automatic left and right margins
*/
#main-wrapper{
    width: 80%;
    /*
    this should change eventually because of admin toolbar
    */
     
    margin: 0 auto; 
    }


/* Page Title */
#page-wrapper > div.highlighted {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

#page-wrapper > div.highlighted > aside {
    margin: 0;
    padding: 0;
}

#block-pagetitle > div.content > h1 > div {
    color: white;
    font-weight: lighter;
    font-size: 50px;
    margin: 25px 0 15px 0;
}

/* End of Page Title */





/*
set the main container to take up the entire width of its parent
*/
#main {
    display: grid; 
    min-width: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0;
   
   
}

#main > div {
    width: 100%;
    /*
        why is this height in percent not working?
    */
    max-height: 100%;
    margin: 0;
}

/*
div container or region that holds the grids
*/
#content {
  max-width: 85%;
  max-height:  100%;
  margin: 0;
  padding: 0;
}

/*
div container or region that holds the sidebar second
*/


#content > section {
    width: 100%;
    max-height: 100%;
}


/*
container for the top grid
*/
#block-elie-views-block-top-grid-block-1-2 {
    width: 980px;
    height: 480px;
    margin: 0;
    padding: 0;
   
}

#block-elie-views-block-top-grid-block-1-2 > div.content {
    width: 100%;
    height: 450px;
}

#block-elie-views-block-top-grid-block-1-2 div {
    margin: 0;
    padding: 0 !important;
}



#block-elie-views-block-top-grid-block-1-2 > h2 {
    
    color: white;
    margin: 0;
    font-size: 24px;
    margin-bottom: 20px; 
    border-bottom: solid white 1px;
    padding-bottom: 5px;
}

#block-elie-views-block-top-grid-block-1-2 > div.content > div > div > div.view-content.row > div > div {
    display: flex;
    flex-direction: row;
    
    
    

}
/*top-grid-item-1-container*/
#block-elie-views-block-top-grid-block-1-2 > div.content > div > div > div.view-content.row > div > div > div.col-lg-4.views-col.col-1 {
    min-width: 475px;
    height: 400px;
    background: #292929;
    margin-right: 15px;
    box-shadow: 0 1px 7px 2px rgb(45, 45, 45);
    
}

#block-elie-views-block-top-grid-block-1-2 > div.content > div > div > div.view-content.row > div > div > div.col-lg-4.views-col.col-1 > div:nth-child(1) > div > a > img {
    width: 100%;
    max-height: 270px;
    object-fit: cover;
    position: relative;
}



#block-elie-views-block-top-grid-block-1-2 > div.content > div > div > div.view-content.row > div > div > div.col-lg-4.views-col.col-2 {
    min-width: 475px;
    height: 400px;
    background: #292929;
    margin-right: 15px;
    box-shadow: 0 1px 7px 2px rgb(45, 45, 45);
}


#block-elie-views-block-top-grid-block-1-2 > div.content > div > div > div.view-content.row > div > div > div.col-lg-4.views-col.col-2 > div:nth-child(1) > div > a > img {
    width: 100%;
    max-height: 270px;
    object-fit: cover;
}

#replay-button {
    display: flex;
    width: 85px;
    height: 25px;
    border-radius: 25px;
    text-decoration: none;
    font-family: arial;
    font-size: 12px;
    color: #4f5ca2;
    font-weight: bold;
    background: white;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 12px;
    bottom: 150px;

}


.top-grid-labels a {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    

}


.top-grid-labels {
    margin: 5px 0 5px 12px !important;
    color: white;
}

.top-grid-category {
    font-weight: bold;
    font-size: 14px;
}

.top-grid-title {
    font-size: 36px;
}

.top-grid-date {
    font-size: 12px;
    color: darkgray;
}

/* End of Top Grid Styles*/

/* beginning of bottom grid styles */ 

#block-elie-views-block-bottom-grid-block-1-2 {
    width: 980px;
    height: 600px;
    margin: 0;
    padding: 0;
    
}

#block-elie-views-block-bottom-grid-block-1-2 > div.content {
    width: 100%;
    height: 450px;
}

#block-elie-views-block-bottom-grid-block-1-2 div {
    margin: 0;
    padding: 0 !important;
}


#bottom-grid-content {
    width: 315px;
    height: 270px;
    margin-right: 0;
    margin-bottom: 30px !important;
    box-shadow: 0 1px 7px 2px rgb(45, 45, 45);
    background: #292929
}


#bottom-grid-content img {
    width: 100%;
    height: 165px;
    object-fit: cover;
   
}



.bottom-grid-labels a {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none !important;
}


.bottom-grid-labels {
    margin: 5px 0 5px 12px !important;
    color: white;
    
}

.bottom-grid-category {
    font-weight: bold;
    font-size: 14px;
}

.bottom-grid-title {
    font-size: 24px;
}

.bottom-grid-date {
    font-size: 12px;
    color: darkgray;
}












/*================================ BEGINNING OF SIDEBAR STYLES ====================================*/

/*
sidebar region giving a heaight that does not go past height of current display and
has a scroll nature with content that overflows
*/
#sidebar_second {
    
    width: 15%;
    height: 1022px;
    margin: 0;
    padding: 0;
    
    
    
    
}

/*
container in yhe sidebar that holds multiple containers for the content
setting it absolute to move it down and align with top grid's top 
*/
#sidebar_second > aside {
    position: absolute;
    top: 30px;
    width: 100%;
    height: 100%;
    overflow: auto;
    
}

/*
view container that holds content and H2 
*/
#block-elie-views-block-test-view-block-1-2 {
    max-width: 100%;
    padding: 0;
    background: rgb(67,67,67);
    background: linear-gradient(270deg, rgba(67,67,67,1) 13%, rgb(169, 169, 169) 50%, rgba(67,67,67,1) 88%);
   
    
}

/*
h2 element found at the top of sidebar
*/
#block-elie-views-block-test-view-block-1-2 > h2 {
    width: 100%;
    height: 50px;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: lighter;
    color: white;
    background-color: #3e4980;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    margin-bottom: 10px;
    box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.3);
}

/*
container for the sidebar content excluding the h2 elements
*/
#block-elie-views-block-test-view-block-1-2 > div.content > div
{
    display: block;
    max-width: 100%;
    height: 100%;
    margin: 0;
    padding:0;
    overflow-y: scroll;
}
/*
horrible naming scheme but containers inside the sidebar that hold the unordered list
*/
#block-elie-views-block-test-view-block-1-2 > div.content > div > div > div.view-content.row {
    width: 100%;
    height: 100%;
    margin:0;
}

/*
horrible naming scheme but containers inside the sidebar that hold the unordered list
*/
#block-elie-views-block-test-view-block-1-2 > div.content > div > div > div.view-content.row >div {
    width: 100%;
    height: 100%;
    margin:0;
    
}
/*
container or ul container
*/
#block-elie-views-block-test-view-block-1-2 > div.content > div > div > div.view-content.row > div > ul {
    width: 100%;
    height: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
     
}

#block-elie-views-block-test-view-block-1-2 > div.content > div > div > div.view-content.row > div > ul > li {
    display: block;
    height: 100px;
    width: 100%;
    margin-bottom: 13px;
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.5);
    
}

#block-elie-views-block-test-view-block-1-2 > div.content > div > div > div.view-content.row > div > ul > li > div {

    width: 100%;
    max-height: 100%;
}

#block-elie-views-block-test-view-block-1-2 > div.content > div > div > div.view-content.row > div > ul > li:nth-child(1) > div > span {
    width: 100%;
    max-height: 100px;
}

#list-container {
    position: relative;
    width: 100%;
    max-height: 100px;
    display: flex;
    flex-direction: column;
    z-index: 100;
    justify-content: space-around;
}

#list-container img {
    position: absolute;
    top: 0;
    z-index: -1;
    width:100%;
    height:100px;
    object-fit: cover;
}

.dark-overlay {
    position: absolute;
    top: 0;
    z-index: -1;
    background: #434343;
    opacity: 0.75;
    width: 100%;
    height: 100px;
}

.dark-overlay:hover {
    background: #434343;
    opacity: 0.3;
}

.sidebar-category {
   color: white; 
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;
   padding: 5px 0 5px 10px;
   font-size: 14px;

}

.sidebar-title >a{
    color: whitesmoke;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 5px 0 5px 10px;
    font-size: 18px;
    text-decoration: none;
    transition: ease-in-out 0.3s;
}

.sidebar-title >a:hover {
    color: white;
    transform: scale(1.1);
}

.sidebar-date {
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 20px 0 5px 10px;
    font-size: 13px;
}

#sidebar-replay-button {
    position: absolute;
    z-index: 2;
    bottom: 15px;
    right: 15px;
    display: block;
    height: 18px;
    width: 70px;
    background-color:white;
    border-radius: 25px;
    color: #4f5ca2;
    font-size: 10px;
    font-weight: bold;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    content:'\25BA';
    text-decoration: none;
    transition: ease-in-out 0.3s;
    
}

#sidebar-replay-button:hover {
    background-color: #3e4980;
    color: white;
    transform: scale(1.1);
}

/**======================== Form Styles =====================**/
#intern-first-form {
    
    min-width: 1000px;
    height: 500px;
    position: absolute;
    top: 3vh;
    left: calc(50vw - (1345px / 2)); 
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    
    
    
}


#intern-first-form > fieldset {
    height: 45px;
    border: none;
    outline: none;
    width: 48%;
    
}

#intern-first-form > fieldset > input {
    padding-left: 14px; ;
    height: 100%;
    background: none;
    border: none;
    outline: none;
    border-bottom: 1px solid white;
    border-radius: 0px;
    transition: ease-in-out 0.3s;
    color: white;
    font-weight: lighter;
    
    
}

#intern-first-form > fieldset > input:hover {
    border: solid white 4px;
    border-radius: 25px;
    
}

#intern-first-form > fieldset > input::placeholder {
    color: lightgray;
}

.form-item-username {
    min-width: 100%;
}

.form-item-password {
    min-width: 100%;
    
}

.form-item-password-pass1 > label{
    color: lightgray;
    margin-bottom: 5px;
    margin-top: 15px;
    padding-left: 14px;
    font-size: 16px;
}

.password-field {
    padding-left: 14px; ;
    height: 100%;
    background: none !important;
    border: none;
    outline: none;
    border-bottom: 1px solid white;
    border-radius: 0px;
    transition: ease-in-out 0.3s;
    color: white;
    font-weight: lighter;
    color: white !important;
}


.form-item-password-pass2 > label{
    color: lightgray;
    margin-bottom: 5px;
    margin-top: 15px;
    padding-left: 14px;
    font-size: 16px;
}


.password-field:hover {
    border: solid white 4px;
    border-radius: 25px;
}

.password-field::placeholder{
    color: white;
}

.password-strength__meter {
    background: none;
    padding-left: 14px;
}

.password-strength__title {
    padding-left: 14px;
    font-size: 14px;
    color: lightgray;
    display: none;
}

.form-item-password-pass2 > input {
    padding-left: 14px; ;
    height: 100%;
    background: none !important;
    border: none;
    outline: none;
    border-bottom: 1px solid white;
    border-radius: 0px;
    transition: ease-in-out 0.3s;
    color: white;
    font-weight: lighter;
    color: white !important;
}

.form-item-password-pass2 > input:hover {
    border: solid white 4px;
    border-radius: 25px;
}


.password-confirm {
    padding-left: 14px;
    font-size: 14px;
    color: lightgray;
    margin-top: 10px;
   
}


.password-suggestions {
    display: none !important;
}

.fieldset-wrapper {
    width: 1000px;
    margin: 15px 0;
    
}

#edit-active--wrapper {
    
    font-size: 16px;
}

#edit-active--wrapper > legend {
    min-width: 1000px; 
    display: flex;
    justify-content: center;

}

#edit-active {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}




#edit-password {
    padding: 0 !important;
    min-height: 250px;
}

#edit-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 60px;

}

/**
styles for sign up form submit button
**/

#edit-submit {
    width: 200px;
    height: 45px;
    border-radius: 25px;
    background: transparent;
    border: 1px solid white;
    transition: ease-in-out 0.4s;
    
}

#edit-submit:hover {
    background: #4f5ca2;
    border: none;
    
}




 
